<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="outerBox" id="container">
    <br>
    <h3 class="supportText">Stellar Support</h3>
    <br>
    <div class="innerBox">
      <div class="appInfo">
        <p class="paragraph">Stellar offers many ways to help its users<br> and the broader community.</p>
      </div>


      <ion-card class="cardStyle">
        <ion-card-content *ngIf="support_options !== ''">

          <ion-row  *ngFor="let support of support_options.options">
            <ion-col size="2">
              <img alt="Silhouette of mountains" src="assets/img/{{support.img}}" width="40px" />
            </ion-col>
            <ion-col size="6">
              <h2 class="cardHeading">{{support.title}}</h2>
              <p class="cardPparagraph">{{support.description}}</p>
            </ion-col>
            <ion-col class="pt-5" size="4">
              <a href="tel:+{{support.contact}}">
                <span class="tag">{{support.contact}}</span>
              </a>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>






      <div align="center">
        <img src="/assets/Logo_Steller_Security_RGB.svg" class="logo">
      </div>

    </div>


  </div>

</ion-content>
