.outerBox {
  background-color: #2761FC;
  height: 100vh;
  overflow: hidden;
}

.logo-container {
  // position: absolute;
  // bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  .logo {
    width: 153px;
    height: 24px;
  }

}

.innerBox {
  font-family: 'poppins';
  background-color: #FFFFFF;
  height: 90%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.supportText {
  font-family: 'Silka';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 21.75px;

  .support-text-img {
    margin-right: 10px;
  }
}

.mainHeading {
  font-family: 'TwCen', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 19.3px;
  letter-spacing: -3%;
  text-align: Center;
  color: #4264FA;
}

.cardHeading {
  font-family: "TwCen", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #62626A;
  margin-top: 2px;
  margin-bottom: 2px;
}

.cardHeadingSelected {
  font-family: 'TwCen', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 16.89px;
  color: #ffffff;
}

.paragraph {
  font-family: 'TwCen', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #0B0C19;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.option-row {
  border: 1px solid #EAEAF0;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  height: 72px;
  margin-bottom: 16px;
}

.cardStyle {
  font-family: 'TwCen', sans-serif;
  box-shadow: none;
  margin-bottom: 0px;

  ion-card-content {
    padding: 0 !important;
  }
}

.cardStyleSelected {
  font-family: 'TwCen', sans-serif;
  box-shadow: none;
  background-color: #4264FB;
}

.appInfo {

}

.mt-4 {
  margin-top: 40%;
}

.pt-5 {
  padding-top: 5%;
}

.extraPadding {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

a {
  text-decoration: none;
}

.tag {
  font-family: 'TwCen', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0B0C19;
}

.tagSelected {
  font-family: 'TwCen', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  padding: 4.5%;
  border-radius: 20px;
  color: #4264FB;
}

.cardPparagraph {
  font-family: 'TwCen', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #8E8E8E;
}

.cardPparagraphSelected {
  font-family: 'TwCen', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #ffffff;
}

.option-col {
  height: 100%;
  padding: 0;
}

.image-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-col {
  padding-left: 12px;
}

.hr-container {
  padding: 0px 20px;

  hr {
    background: #EAEAF0;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 16px;
  }
}



.live-chat-label {
  font-size: 16px;
  color: #0B0C19;
  padding-left: 20px;
}

.live-chat-wrapper {
  margin-left: 20px;
}
