<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="outerBox" id="container">
    <br>
    <h3 class="supportText"><img class="support-text-img" src="assets/img/header-icon.svg"/>Stellar Support</h3>
    <br>
    <div class="innerBox">
      <div>
        <p class="title">Few ways to connect!</p>
        <div class="appInfo">
          <p class="paragraph">Stellar offers many ways to help its users<br> and the broader community.</p>
        </div>


        <ion-card class="cardStyle">
          <ion-card-content>

            <ion-row class="option-row">
              <ion-col class="option-col image-col" size="1">
                <img alt="Silhouette of mountains" src="assets/img/write-us.svg" width="24px" />
              </ion-col>
              <ion-col class="option-col text-col" size="11">
                <h2 class="cardHeading">Write Us</h2>
                <a>
                  <span class="tag">info@stellarsecurity.com</span>
                </a>
              </ion-col>
            </ion-row>

            <ion-row class="option-row">
              <ion-col class="option-col image-col" size="1">
                <img alt="Silhouette of mountains" src="assets/img/signal.svg" width="24px" />
              </ion-col>
              <ion-col class="option-col text-col" size="11">
                <h2 class="cardHeading">Signal</h2>
                <a href="javascript:void(0)">
                  <span class="tag">StellarSecurity.30</span>
                </a>
              </ion-col>
            </ion-row>

            <ion-row class="option-row">
              <ion-col class="option-col image-col" size="1">
                <img alt="Silhouette of mountains" src="assets/img/telegram.svg" width="24px" />
              </ion-col>
              <ion-col class="option-col text-col" size="11">
                <h2 class="cardHeading">Telegram</h2>
                <a>
                  <span class="tag">@Stellar_Security</span>
                </a>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>

        <div class="hr-container"><hr></div>

        <p class="live-chat-label">Get Help using our form or live chat support</p>

        <ion-row class="option-row live-chat-wrapper">
          <ion-col class="option-col image-col" size="1">
            <img alt="Silhouette of mountains" src="assets/img/www.svg" width="24px" />
          </ion-col>
          <ion-col class="option-col text-col" size="11">
            <h2 class="cardHeading">Website</h2>
            <a href="https://stellarsecurity.com">
              <span class="tag">stellarsecurity.com</span>
            </a>
          </ion-col>
        </ion-row>
      </div>

      <div class="logo-container">
        <img src="/assets/img/footer-logo.svg" class="logo">
      </div>

    </div>
  </div>

</ion-content>
